* text=auto eol=lf

/** export-ignore

/addons !export-ignore
/addons/** !export-ignore

/ios !export-ignore
/ios/** !export-ignore

/android/firebase_* !export-ignore
/android/firebase_*/** !export-ignore
